{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Company</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for symbol in symbols %}
            <tr>
                <td scope="row">{{ symbol }}</td>
                <td>{{ stocks[symbol].name }}</td>
                <td>{{ stocks[symbol].shares }}</td>
                <td>{{ stocks[symbol].price }}</td>
                <td>{{ stocks[symbol].total }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ cash }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th>{{ total }}</th>
            </tr>
        </tbody>
    </table>
{% endblock %}

