{% extends "layout.html" %}

{% block title %}
    Results
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Company</th>
                <th scope="col">Stock Price</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <th scope="row">{{ result.symbol }}</th>
                <td>{{ result.name }}</td>
                <td>{{ result.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}